RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
#RewriteRule console /console.php

#RewriteRule ^index.php/ - [L,R=404]
#RewriteRule ^console.php/ - [L,R=404]